h1, h4, p {
  text-align: center;
}

.container {
  margin-top: 10px;
}

.row {
  margin-top: 30px;
}

.link {
  margin-left: 10px;
  margin-top: 25px;
}

.loader {
  text-align: center;
  margin-top: 100px;
}

.github {
  margin-top: 30px;
}